.u-center-text {
  text-align: center !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}
.mb-md {
  margin-bottom: 3rem !important;
}
.mb-lg {
  margin-bottom: 4rem !important;
}
.mb-hg {
  margin-bottom: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
